html
    head
        title Mi primera plantilla Pug JS
    body
        header
            nav
                ul
                    li 
                        a(href="../index.html") Agregar
                    li
                        a(href="../api/productos") Ver
        main
            block div_articulo